<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>${THEME_NAME}</string>
    <key>settings</key>
    <array>
        <dict>
            <key>settings</key>
            <dict>
                <key>background</key>
                <string>${BASE}</string>
                <key>foreground</key>
                <string>${TEXT}</string>
                <key>caret</key>
                <string>${ACCENT_SECONDARY}</string>
                <key>lineHighlight</key>
                <string>${SURFACE0}</string>
                <key>selection</key>
                <string>${SURFACE2}</string>
                <key>selectionBorder</key>
                <string>${ACCENT_SECONDARY}</string>
                <key>findHighlight</key>
                <string>${SEM_MATCH}</string>
                <key>findHighlightForeground</key>
                <string>${BASE}</string>
                <key>guide</key>
                <string>${SURFACE1}</string>
                <key>activeGuide</key>
                <string>${ACCENT_SECONDARY}</string>
                <key>gutterForeground</key>
                <string>${OVERLAY0}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Comment</string>
            <key>scope</key>
            <string>comment, punctuation.definition.comment</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${OVERLAY0}</string>
                <key>fontStyle</key>
                <string>italic</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>String</string>
            <key>scope</key>
            <string>string</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${SEM_MATCH}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Number</string>
            <key>scope</key>
            <string>constant.numeric</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${ACCENT_BRIGHT}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Constant</string>
            <key>scope</key>
            <string>constant, constant.language, constant.character</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${ACCENT_BRIGHT}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Keyword</string>
            <key>scope</key>
            <string>keyword, storage.type, storage.modifier</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${ACCENT_SECONDARY}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Control</string>
            <key>scope</key>
            <string>keyword.control</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${ACCENT_SECONDARY}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Operator</string>
            <key>scope</key>
            <string>keyword.operator</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${ACCENT_TERTIARY}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Function</string>
            <key>scope</key>
            <string>entity.name.function, support.function</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${ACCENT}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Class</string>
            <key>scope</key>
            <string>entity.name.class, entity.name.type, support.class, support.type</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${SEM_MATCH}</string>
                <key>fontStyle</key>
                <string>bold</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Variable</string>
            <key>scope</key>
            <string>variable, variable.parameter</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${ACCENT_TERTIARY}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Property</string>
            <key>scope</key>
            <string>variable.other.property, support.variable.property</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${ACCENT_TERTIARY}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Tag</string>
            <key>scope</key>
            <string>entity.name.tag</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${ACCENT_SECONDARY}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Attribute</string>
            <key>scope</key>
            <string>entity.other.attribute-name</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${ACCENT}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Punctuation</string>
            <key>scope</key>
            <string>punctuation</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${SUBTEXT1}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Invalid</string>
            <key>scope</key>
            <string>invalid</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${SEM_ERR}</string>
                <key>fontStyle</key>
                <string>underline</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Markdown Heading</string>
            <key>scope</key>
            <string>markup.heading, punctuation.definition.heading.markdown</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${ACCENT_SECONDARY}</string>
                <key>fontStyle</key>
                <string>bold</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Markdown Bold</string>
            <key>scope</key>
            <string>markup.bold</string>
            <key>settings</key>
            <dict>
                <key>fontStyle</key>
                <string>bold</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Markdown Italic</string>
            <key>scope</key>
            <string>markup.italic</string>
            <key>settings</key>
            <dict>
                <key>fontStyle</key>
                <string>italic</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Markdown Link</string>
            <key>scope</key>
            <string>markup.underline.link</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${ACCENT}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Markdown Code</string>
            <key>scope</key>
            <string>markup.inline.raw, markup.fenced_code.block</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${SEM_OK}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Diff Added</string>
            <key>scope</key>
            <string>markup.inserted, meta.diff.header.to-file</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${SEM_OK}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Diff Removed</string>
            <key>scope</key>
            <string>markup.deleted, meta.diff.header.from-file</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${SEM_ERR}</string>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Diff Changed</string>
            <key>scope</key>
            <string>markup.changed</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>${SEM_MATCH}</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
