# ${THEME_NAME} Dunst Colors

[global]
frame_color = "${SEM_BORDER}"
background = "${BASE}"
foreground = "${TEXT}"
highlight = "${ACCENT},${SEM_OK}"
corner_radius = ${STYLE_CORNER_RADIUS}

[urgency_low]
foreground = "${SEM_OK}"
frame_color = "${SEM_OK}"

[urgency_normal]
foreground = "${SEM_INFO}"
frame_color = "${SEM_BORDER}"

[urgency_critical]
foreground = "${SEM_ERR}"
frame_color = "${SEM_ERR}"
