# ${THEME_NAME} fzf-tab colors
# Sourced by completions.zsh

FZF_TAB_FLAGS=(
  '--preview-window=right,50%,nowrap'
  '--color=fg:${SUBTEXT0},fg+:${TEXT},bg:${BASE},bg+:${SURFACE2}'
  '--color=hl:${GRADIENT_5},hl+:${GRADIENT_4},info:${GRADIENT_3},marker:${GRADIENT_3}'
  '--color=prompt:${GRADIENT_0},spinner:${GRADIENT_6},pointer:${GRADIENT_8},header:${GRADIENT_4}'
  '--color=gutter:${SURFACE0},border:${GRADIENT_7},separator:${GRADIENT_5},scrollbar:${GRADIENT_2}'
  '--color=preview-fg:${SUBTEXT0},preview-bg:${MANTLE},preview-border:${GRADIENT_9},preview-scrollbar:${GRADIENT_1}'
  '--border=rounded' '--reverse' '--height=90%'
  "--prompt=☠ " "--marker=❯" "--pointer=" "--separator=🭷" "--scrollbar=▌"
)
