# ${THEME_NAME} FZF Colors
# Source this file or use with eval

export FZF_COLORS="\
--color=fg:${SUBTEXT0},fg+:${TEXT},bg:${BASE},bg+:${SEM_SELECTION} \
--color=hl:${GRADIENT_5},hl+:${GRADIENT_4},info:${GRADIENT_3},marker:${GRADIENT_3} \
--color=prompt:${GRADIENT_0},spinner:${GRADIENT_6},pointer:${GRADIENT_8},header:${GRADIENT_4} \
--color=gutter:${MANTLE},border:${GRADIENT_7},separator:${GRADIENT_5},scrollbar:${GRADIENT_2} \
--color=preview-fg:${SUBTEXT0},preview-bg:${MANTLE},preview-border:${GRADIENT_9},preview-scrollbar:${GRADIENT_1} \
--color=preview-label:${GRADIENT_3},label:${GRADIENT_3},query:${SUBTEXT0},disabled:${FT_IGNORE}"
