## name: ${THEME_NAME}
## author: Custom theme
## blurb: ${THEME_DESCRIPTION}

foreground                      ${TEXT}
background                      ${BASE}
selection_foreground            #000000
selection_background            #fffacd

cursor                          #cccccc
cursor_text_color               #111111
url_color                       ${SEM_LINK}

#: black (surfaces)
color0                          ${SURFACE0}
color8                          ${SURFACE2}

#: red (errors)
color1                          ${SEM_ERR}
color9                          ${SEM_ERR}

#: green (success)
color2                          ${SEM_OK}
color10                         ${SEM_OK}

#: yellow (warnings)
color3                          ${SEM_WARN}
color11                         ${SEM_WARN}

#: blue (info/links)
color4                          ${SEM_INFO}
color12                         ${SEM_INFO}

#: magenta/purple (accent)
color5                          ${ACCENT_SECONDARY}
color13                         ${ACCENT_SECONDARY}

#: cyan (match/highlight)
color6                          ${SEM_MATCH}
color14                         ${SEM_MATCH}

#: white (text)
color7                          ${SUBTEXT0}
color15                         ${TEXT}

# vim:ft=kitty
