## name: ${THEME_NAME}
## author: Custom theme
## blurb: ${THEME_DESCRIPTION}

foreground                      ${TEXT}
background                      ${BASE}
selection_foreground            #000000
selection_background            #fffacd

cursor                          #cccccc
cursor_text_color               #111111
url_color                       ${SEM_LINK}

#: black (surfaces)
color0                          ${SURFACE0}
color8                          ${SURFACE2}

#: red
color1                          ${ANSI_RED}
color9                          ${ANSI_RED_BRIGHT}

#: green
color2                          ${ANSI_GREEN}
color10                         ${ANSI_GREEN_BRIGHT}

#: yellow
color3                          ${ANSI_YELLOW}
color11                         ${ANSI_YELLOW_BRIGHT}

#: blue
color4                          ${ANSI_BLUE}
color12                         ${ANSI_BLUE_BRIGHT}

#: magenta
color5                          ${ANSI_MAGENTA}
color13                         ${ANSI_MAGENTA_BRIGHT}

#: cyan
color6                          ${ANSI_CYAN}
color14                         ${ANSI_CYAN_BRIGHT}

#: white (text)
color7                          ${SUBTEXT0}
color15                         ${TEXT}

# vim:ft=kitty
