# ${THEME_NAME} theme for lazygit
gui:
  theme:
    activeBorderColor:
      - '${SEM_BORDER}'
      - bold
    inactiveBorderColor:
      - '${SUBTEXT0}'
    optionsTextColor:
      - '${SEM_INFO}'
    selectedLineBgColor:
      - '${SEM_SELECTION}'
    cherryPickedCommitBgColor:
      - '${SURFACE1}'
    cherryPickedCommitFgColor:
      - '${ACCENT}'
    unstagedChangesColor:
      - '${SEM_WARN}'
    defaultFgColor:
      - '${TEXT}'
    searchingActiveBorderColor:
      - '${SEM_MATCH}'

  authorColors:
    '*': '${ACCENT}'
