[ColorScheme]
active_colors=#ff${TEXT_NOHASH}, #ff${BASE_NOHASH}, #ff${SUBTEXT0_NOHASH}, #ff${OVERLAY2_NOHASH}, #ff${SURFACE1_NOHASH}, #ff${OVERLAY0_NOHASH}, #ff${TEXT_NOHASH}, #ff${TEXT_NOHASH}, #ff${TEXT_NOHASH}, #ff${BASE_NOHASH}, #ff${MANTLE_NOHASH}, #ff${OVERLAY1_NOHASH}, #ff${ACCENT_NOHASH}, #ff${BASE_NOHASH}, #ff${ACCENT_NOHASH}, #ff${ACCENT_SECONDARY_NOHASH}, #ff${BASE_NOHASH}, #ff${TEXT_NOHASH}, #ff${CRUST_NOHASH}, #ff${TEXT_NOHASH}, #80${OVERLAY1_NOHASH}
disabled_colors=#ff${SUBTEXT0_NOHASH}, #ff${BASE_NOHASH}, #ff${SUBTEXT0_NOHASH}, #ff${OVERLAY2_NOHASH}, #ff${SURFACE1_NOHASH}, #ff${OVERLAY0_NOHASH}, #ff${SUBTEXT0_NOHASH}, #ff${SUBTEXT0_NOHASH}, #ff${SUBTEXT0_NOHASH}, #ff${BASE_NOHASH}, #ff${CRUST_NOHASH}, #ff${OVERLAY1_NOHASH}, #ff${ACCENT_NOHASH}, #ff${SURFACE1_NOHASH}, #ff${ACCENT_NOHASH}, #ff${ACCENT_SECONDARY_NOHASH}, #ff${BASE_NOHASH}, #ff${TEXT_NOHASH}, #ff${CRUST_NOHASH}, #ff${TEXT_NOHASH}, #80${OVERLAY1_NOHASH}
inactive_colors=#ff${TEXT_NOHASH}, #ff${BASE_NOHASH}, #ff${SUBTEXT0_NOHASH}, #ff${OVERLAY2_NOHASH}, #ff${SURFACE1_NOHASH}, #ff${OVERLAY0_NOHASH}, #ff${TEXT_NOHASH}, #ff${TEXT_NOHASH}, #ff${TEXT_NOHASH}, #ff${BASE_NOHASH}, #ff${MANTLE_NOHASH}, #ff${OVERLAY1_NOHASH}, #ff${ACCENT_NOHASH}, #ff${SUBTEXT0_NOHASH}, #ff${ACCENT_NOHASH}, #ff${ACCENT_SECONDARY_NOHASH}, #ff${BASE_NOHASH}, #ff${TEXT_NOHASH}, #ff${CRUST_NOHASH}, #ff${TEXT_NOHASH}, #80${OVERLAY1_NOHASH}
