# ${THEME_NAME} Shell Colors
# Source this file in zsh for LS_COLORS, EZA_COLORS, GREP_COLORS, and THEME_COLORS array
# vim:ft=zsh

# Theme Colors Array (R;G;B format for ANSI 38;2;R;G;B sequences)
typeset -gA THEME_COLORS
THEME_COLORS=(
  # Semantic colors (use these in scripts)
  sem_ok       "${SEM_OK_RGB}"
  sem_warn     "${SEM_WARN_RGB}"
  sem_err      "${SEM_ERR_RGB}"
  sem_info     "${SEM_INFO_RGB}"
  sem_link     "${SEM_LINK_RGB}"
  sem_match    "${SEM_MATCH_RGB}"
  sem_cursor   "${SEM_CURSOR_RGB}"
  sem_border   "${SEM_BORDER_RGB}"
  sem_selection "${SEM_SELECTION_RGB}"
  # File type colors
  ft_code      "${FT_CODE_RGB}"
  ft_data      "${FT_DATA_RGB}"
  ft_media     "${FT_MEDIA_RGB}"
  ft_archive   "${FT_ARCHIVE_RGB}"
  ft_executable "${FT_EXECUTABLE_RGB}"
  ft_build     "${FT_BUILD_RGB}"
  ft_ignore    "${FT_IGNORE_RGB}"
  # Accent colors
  accent       "${ACCENT_RGB}"
  accent_secondary "${ACCENT_SECONDARY_RGB}"
  accent_tertiary "${ACCENT_TERTIARY_RGB}"
  # Structural colors
  text      "${TEXT_RGB}"
  subtext1  "${SUBTEXT1_RGB}"
  subtext0  "${SUBTEXT0_RGB}"
  overlay2  "${OVERLAY2_RGB}"
  overlay1  "${OVERLAY1_RGB}"
  overlay0  "${OVERLAY0_RGB}"
  surface2  "${SURFACE2_RGB}"
  surface1  "${SURFACE1_RGB}"
  surface0  "${SURFACE0_RGB}"
  base      "${BASE_RGB}"
  mantle    "${MANTLE_RGB}"
  crust     "${CRUST_RGB}"
)

# Helper to get ANSI escape for a color
tc() { echo "38;2;${THEME_COLORS[$1]}" }
tc_bg() { echo "48;2;${THEME_COLORS[$1]}" }

# EZA_COLORS
export EZA_COLORS="\
di=38;2;${SEM_LINK_RGB}:\
ln=38;2;${ACCENT_SECONDARY_RGB}:\
ex=1;38;2;${FT_EXECUTABLE_RGB}:\
fi=38;2;${TEXT_RGB}:\
ur=38;2;${SEM_WARN_RGB}:\
uw=38;2;${SEM_ERR_RGB}:\
ux=38;2;${SEM_OK_RGB}:\
gr=38;2;${SEM_WARN_RGB}:\
gw=38;2;${SEM_ERR_RGB}:\
gx=38;2;${SEM_OK_RGB}:\
tr=38;2;${SEM_WARN_RGB}:\
tw=38;2;${SEM_ERR_RGB}:\
tx=38;2;${SEM_OK_RGB}:\
sn=38;2;${SEM_MATCH_RGB}:\
sb=38;2;${SEM_MATCH_RGB}:\
da=38;2;${SEM_INFO_RGB}:\
uu=38;2;${ACCENT_SECONDARY_RGB}:\
un=38;2;${SEM_ERR_RGB}:\
gu=38;2;${ACCENT_SECONDARY_RGB}:\
gn=38;2;${SEM_ERR_RGB}:\
ga=38;2;${SEM_OK_RGB}:\
gm=38;2;${SEM_WARN_RGB}:\
gd=38;2;${SEM_ERR_RGB}:\
gv=38;2;${ACCENT_SECONDARY_RGB}:\
gt=38;2;${ACCENT_TERTIARY_RGB}"

# GREP_COLORS
export GREP_COLORS="\
ms=1;38;2;${SEM_MATCH_RGB}:\
mc=1;38;2;${SEM_MATCH_RGB}:\
sl=:\
cx=:\
fn=38;2;${SEM_LINK_RGB}:\
ln=38;2;${SEM_OK_RGB}:\
bn=38;2;${SEM_WARN_RGB}:\
se=38;2;${SEM_INFO_RGB}"

# LS_COLORS (comprehensive)
export LS_COLORS="\
*~=0;38;2;${FT_IGNORE_RGB}:\
bd=0;38;2;${ACCENT_TERTIARY_RGB};48;2;${SURFACE0_RGB}:\
ca=0:\
cd=0;38;2;${ACCENT_SECONDARY_RGB};48;2;${SURFACE0_RGB}:\
di=0;38;2;${SEM_LINK_RGB}:\
do=0;38;2;${CRUST_RGB};48;2;${ACCENT_SECONDARY_RGB}:\
ex=1;38;2;${FT_EXECUTABLE_RGB}:\
fi=0:\
ln=0;38;2;${ACCENT_SECONDARY_RGB}:\
mh=0:\
mi=0;38;2;${CRUST_RGB};48;2;${SEM_ERR_RGB}:\
no=0:\
or=0;38;2;${CRUST_RGB};48;2;${SEM_ERR_RGB}:\
ow=0:\
pi=0;38;2;${CRUST_RGB};48;2;${ACCENT_RGB}:\
rs=0:\
sg=0:\
so=0;38;2;${CRUST_RGB};48;2;${ACCENT_SECONDARY_RGB}:\
st=0:\
su=0:\
tw=0:\
*.1=0;38;2;${FT_DATA_RGB}:\
*.a=1;38;2;${FT_EXECUTABLE_RGB}:\
*.c=0;38;2;${FT_CODE_RGB}:\
*.d=0;38;2;${FT_CODE_RGB}:\
*.h=0;38;2;${FT_CODE_RGB}:\
*.m=0;38;2;${FT_CODE_RGB}:\
*.o=0;38;2;${FT_IGNORE_RGB}:\
*.p=0;38;2;${FT_CODE_RGB}:\
*.r=0;38;2;${FT_CODE_RGB}:\
*.t=0;38;2;${FT_CODE_RGB}:\
*.v=0;38;2;${FT_CODE_RGB}:\
*.z=4;38;2;${FT_ARCHIVE_RGB}:\
*.7z=4;38;2;${FT_ARCHIVE_RGB}:\
*.ai=0;38;2;${FT_MEDIA_RGB}:\
*.as=0;38;2;${FT_CODE_RGB}:\
*.bc=0;38;2;${FT_IGNORE_RGB}:\
*.bz=4;38;2;${FT_ARCHIVE_RGB}:\
*.cc=0;38;2;${FT_CODE_RGB}:\
*.cp=0;38;2;${FT_CODE_RGB}:\
*.cr=0;38;2;${FT_CODE_RGB}:\
*.cs=0;38;2;${FT_CODE_RGB}:\
*.db=4;38;2;${FT_ARCHIVE_RGB}:\
*.di=0;38;2;${FT_CODE_RGB}:\
*.el=0;38;2;${FT_CODE_RGB}:\
*.ex=0;38;2;${FT_CODE_RGB}:\
*.fs=0;38;2;${FT_CODE_RGB}:\
*.go=0;38;2;${FT_CODE_RGB}:\
*.gv=0;38;2;${FT_CODE_RGB}:\
*.gz=4;38;2;${FT_ARCHIVE_RGB}:\
*.ha=0;38;2;${FT_CODE_RGB}:\
*.hh=0;38;2;${FT_CODE_RGB}:\
*.hi=0;38;2;${FT_IGNORE_RGB}:\
*.hs=0;38;2;${FT_CODE_RGB}:\
*.jl=0;38;2;${FT_CODE_RGB}:\
*.js=0;38;2;${FT_CODE_RGB}:\
*.ko=1;38;2;${FT_EXECUTABLE_RGB}:\
*.kt=0;38;2;${FT_CODE_RGB}:\
*.la=0;38;2;${FT_IGNORE_RGB}:\
*.ll=0;38;2;${FT_CODE_RGB}:\
*.lo=0;38;2;${FT_IGNORE_RGB}:\
*.ma=0;38;2;${FT_MEDIA_RGB}:\
*.mb=0;38;2;${FT_MEDIA_RGB}:\
*.md=0;38;2;${FT_DATA_RGB}:\
*.mk=0;38;2;${FT_BUILD_RGB}:\
*.ml=0;38;2;${FT_CODE_RGB}:\
*.mn=0;38;2;${FT_CODE_RGB}:\
*.nb=0;38;2;${FT_CODE_RGB}:\
*.nu=0;38;2;${FT_CODE_RGB}:\
*.pl=0;38;2;${FT_CODE_RGB}:\
*.pm=0;38;2;${FT_CODE_RGB}:\
*.pp=0;38;2;${FT_CODE_RGB}:\
*.ps=0;38;2;${SEM_ERR_RGB}:\
*.py=0;38;2;${FT_CODE_RGB}:\
*.rb=0;38;2;${FT_CODE_RGB}:\
*.rm=0;38;2;${FT_MEDIA_RGB}:\
*.rs=0;38;2;${FT_CODE_RGB}:\
*.sh=0;38;2;${FT_CODE_RGB}:\
*.so=1;38;2;${FT_EXECUTABLE_RGB}:\
*.td=0;38;2;${FT_CODE_RGB}:\
*.ts=0;38;2;${FT_CODE_RGB}:\
*.ui=0;38;2;${FT_DATA_RGB}:\
*.vb=0;38;2;${FT_CODE_RGB}:\
*.wv=0;38;2;${FT_MEDIA_RGB}:\
*.xz=4;38;2;${FT_ARCHIVE_RGB}:\
*FAQ=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*.3ds=0;38;2;${FT_MEDIA_RGB}:\
*.3fr=0;38;2;${FT_MEDIA_RGB}:\
*.3mf=0;38;2;${FT_MEDIA_RGB}:\
*.adb=0;38;2;${FT_CODE_RGB}:\
*.ads=0;38;2;${FT_CODE_RGB}:\
*.aif=0;38;2;${FT_MEDIA_RGB}:\
*.amf=0;38;2;${FT_MEDIA_RGB}:\
*.ape=0;38;2;${FT_MEDIA_RGB}:\
*.apk=4;38;2;${FT_ARCHIVE_RGB}:\
*.ari=0;38;2;${FT_MEDIA_RGB}:\
*.arj=4;38;2;${FT_ARCHIVE_RGB}:\
*.arw=0;38;2;${FT_MEDIA_RGB}:\
*.asa=0;38;2;${FT_CODE_RGB}:\
*.asm=0;38;2;${FT_CODE_RGB}:\
*.aux=0;38;2;${FT_IGNORE_RGB}:\
*.avi=0;38;2;${FT_MEDIA_RGB}:\
*.awk=0;38;2;${FT_CODE_RGB}:\
*.bag=4;38;2;${FT_ARCHIVE_RGB}:\
*.bak=0;38;2;${FT_IGNORE_RGB}:\
*.bat=1;38;2;${FT_EXECUTABLE_RGB}:\
*.bay=0;38;2;${FT_MEDIA_RGB}:\
*.bbl=0;38;2;${FT_IGNORE_RGB}:\
*.bcf=0;38;2;${FT_IGNORE_RGB}:\
*.bib=0;38;2;${FT_DATA_RGB}:\
*.bin=4;38;2;${FT_ARCHIVE_RGB}:\
*.blg=0;38;2;${FT_IGNORE_RGB}:\
*.bmp=0;38;2;${FT_MEDIA_RGB}:\
*.bsh=0;38;2;${FT_CODE_RGB}:\
*.bst=0;38;2;${FT_DATA_RGB}:\
*.bz2=4;38;2;${FT_ARCHIVE_RGB}:\
*.c++=0;38;2;${FT_CODE_RGB}:\
*.cap=0;38;2;${FT_MEDIA_RGB}:\
*.cfg=0;38;2;${FT_DATA_RGB}:\
*.cgi=0;38;2;${FT_CODE_RGB}:\
*.clj=0;38;2;${FT_CODE_RGB}:\
*.com=1;38;2;${FT_EXECUTABLE_RGB}:\
*.cpp=0;38;2;${FT_CODE_RGB}:\
*.cr2=0;38;2;${FT_MEDIA_RGB}:\
*.cr3=0;38;2;${FT_MEDIA_RGB}:\
*.crw=0;38;2;${FT_MEDIA_RGB}:\
*.css=0;38;2;${FT_CODE_RGB}:\
*.csv=0;38;2;${FT_DATA_RGB}:\
*.csx=0;38;2;${FT_CODE_RGB}:\
*.cxx=0;38;2;${FT_CODE_RGB}:\
*.dae=0;38;2;${FT_MEDIA_RGB}:\
*.dcr=0;38;2;${FT_MEDIA_RGB}:\
*.dcs=0;38;2;${FT_MEDIA_RGB}:\
*.deb=4;38;2;${FT_ARCHIVE_RGB}:\
*.def=0;38;2;${FT_CODE_RGB}:\
*.dll=1;38;2;${FT_EXECUTABLE_RGB}:\
*.dmg=4;38;2;${FT_ARCHIVE_RGB}:\
*.dng=0;38;2;${FT_MEDIA_RGB}:\
*.doc=0;38;2;${SEM_ERR_RGB}:\
*.dot=0;38;2;${FT_CODE_RGB}:\
*.dox=0;38;2;${FT_BUILD_RGB}:\
*.dpr=0;38;2;${FT_CODE_RGB}:\
*.drf=0;38;2;${FT_MEDIA_RGB}:\
*.dxf=0;38;2;${FT_MEDIA_RGB}:\
*.eip=0;38;2;${FT_MEDIA_RGB}:\
*.elc=0;38;2;${FT_CODE_RGB}:\
*.elm=0;38;2;${FT_CODE_RGB}:\
*.epp=0;38;2;${FT_CODE_RGB}:\
*.eps=0;38;2;${FT_MEDIA_RGB}:\
*.erf=0;38;2;${FT_MEDIA_RGB}:\
*.erl=0;38;2;${FT_CODE_RGB}:\
*.exe=1;38;2;${FT_EXECUTABLE_RGB}:\
*.exr=0;38;2;${FT_MEDIA_RGB}:\
*.exs=0;38;2;${FT_CODE_RGB}:\
*.fbx=0;38;2;${FT_MEDIA_RGB}:\
*.fff=0;38;2;${FT_MEDIA_RGB}:\
*.fls=0;38;2;${FT_IGNORE_RGB}:\
*.flv=0;38;2;${FT_MEDIA_RGB}:\
*.fnt=0;38;2;${FT_MEDIA_RGB}:\
*.fon=0;38;2;${FT_MEDIA_RGB}:\
*.fsi=0;38;2;${FT_CODE_RGB}:\
*.fsx=0;38;2;${FT_CODE_RGB}:\
*.gif=0;38;2;${FT_MEDIA_RGB}:\
*.git=0;38;2;${FT_IGNORE_RGB}:\
*.gpr=0;38;2;${FT_MEDIA_RGB}:\
*.gvy=0;38;2;${FT_CODE_RGB}:\
*.h++=0;38;2;${FT_CODE_RGB}:\
*.hda=0;38;2;${FT_MEDIA_RGB}:\
*.hip=0;38;2;${FT_MEDIA_RGB}:\
*.hpp=0;38;2;${FT_CODE_RGB}:\
*.htc=0;38;2;${FT_CODE_RGB}:\
*.htm=0;38;2;${FT_DATA_RGB}:\
*.hxx=0;38;2;${FT_CODE_RGB}:\
*.ico=0;38;2;${FT_MEDIA_RGB}:\
*.ics=0;38;2;${SEM_ERR_RGB}:\
*.idx=0;38;2;${FT_IGNORE_RGB}:\
*.igs=0;38;2;${FT_MEDIA_RGB}:\
*.iiq=0;38;2;${FT_MEDIA_RGB}:\
*.ilg=0;38;2;${FT_IGNORE_RGB}:\
*.img=4;38;2;${FT_ARCHIVE_RGB}:\
*.inc=0;38;2;${FT_CODE_RGB}:\
*.ind=0;38;2;${FT_IGNORE_RGB}:\
*.ini=0;38;2;${FT_DATA_RGB}:\
*.inl=0;38;2;${FT_CODE_RGB}:\
*.ino=0;38;2;${FT_CODE_RGB}:\
*.ipp=0;38;2;${FT_CODE_RGB}:\
*.iso=4;38;2;${FT_ARCHIVE_RGB}:\
*.jar=4;38;2;${FT_ARCHIVE_RGB}:\
*.jpg=0;38;2;${FT_MEDIA_RGB}:\
*.jsx=0;38;2;${FT_CODE_RGB}:\
*.jxl=0;38;2;${FT_MEDIA_RGB}:\
*.k25=0;38;2;${FT_MEDIA_RGB}:\
*.kdc=0;38;2;${FT_MEDIA_RGB}:\
*.kex=0;38;2;${SEM_ERR_RGB}:\
*.kra=0;38;2;${FT_MEDIA_RGB}:\
*.kts=0;38;2;${FT_CODE_RGB}:\
*.log=0;38;2;${FT_IGNORE_RGB}:\
*.ltx=0;38;2;${FT_CODE_RGB}:\
*.lua=0;38;2;${FT_CODE_RGB}:\
*.m3u=0;38;2;${FT_MEDIA_RGB}:\
*.m4a=0;38;2;${FT_MEDIA_RGB}:\
*.m4v=0;38;2;${FT_MEDIA_RGB}:\
*.mdc=0;38;2;${FT_MEDIA_RGB}:\
*.mef=0;38;2;${FT_MEDIA_RGB}:\
*.mid=0;38;2;${FT_MEDIA_RGB}:\
*.mir=0;38;2;${FT_CODE_RGB}:\
*.mkv=0;38;2;${FT_MEDIA_RGB}:\
*.mli=0;38;2;${FT_CODE_RGB}:\
*.mos=0;38;2;${FT_MEDIA_RGB}:\
*.mov=0;38;2;${FT_MEDIA_RGB}:\
*.mp3=0;38;2;${FT_MEDIA_RGB}:\
*.mp4=0;38;2;${FT_MEDIA_RGB}:\
*.mpg=0;38;2;${FT_MEDIA_RGB}:\
*.mrw=0;38;2;${FT_MEDIA_RGB}:\
*.msi=4;38;2;${FT_ARCHIVE_RGB}:\
*.mtl=0;38;2;${FT_MEDIA_RGB}:\
*.nef=0;38;2;${FT_MEDIA_RGB}:\
*.nim=0;38;2;${FT_CODE_RGB}:\
*.nix=0;38;2;${FT_DATA_RGB}:\
*.nrw=0;38;2;${FT_MEDIA_RGB}:\
*.obj=0;38;2;${FT_MEDIA_RGB}:\
*.obm=0;38;2;${FT_MEDIA_RGB}:\
*.odp=0;38;2;${SEM_ERR_RGB}:\
*.ods=0;38;2;${SEM_ERR_RGB}:\
*.odt=0;38;2;${SEM_ERR_RGB}:\
*.ogg=0;38;2;${FT_MEDIA_RGB}:\
*.ogv=0;38;2;${FT_MEDIA_RGB}:\
*.orf=0;38;2;${FT_MEDIA_RGB}:\
*.org=0;38;2;${FT_DATA_RGB}:\
*.otf=0;38;2;${FT_MEDIA_RGB}:\
*.otl=0;38;2;${FT_MEDIA_RGB}:\
*.out=0;38;2;${FT_IGNORE_RGB}:\
*.pas=0;38;2;${FT_CODE_RGB}:\
*.pbm=0;38;2;${FT_MEDIA_RGB}:\
*.pcx=0;38;2;${FT_MEDIA_RGB}:\
*.pdf=0;38;2;${SEM_ERR_RGB}:\
*.pef=0;38;2;${FT_MEDIA_RGB}:\
*.pgm=0;38;2;${FT_MEDIA_RGB}:\
*.php=0;38;2;${FT_CODE_RGB}:\
*.pid=0;38;2;${FT_IGNORE_RGB}:\
*.pkg=4;38;2;${FT_ARCHIVE_RGB}:\
*.png=0;38;2;${FT_MEDIA_RGB}:\
*.pod=0;38;2;${FT_CODE_RGB}:\
*.ppm=0;38;2;${FT_MEDIA_RGB}:\
*.pps=0;38;2;${SEM_ERR_RGB}:\
*.ppt=0;38;2;${SEM_ERR_RGB}:\
*.pro=0;38;2;${FT_BUILD_RGB}:\
*.ps1=0;38;2;${FT_CODE_RGB}:\
*.psd=0;38;2;${FT_MEDIA_RGB}:\
*.ptx=0;38;2;${FT_MEDIA_RGB}:\
*.pxn=0;38;2;${FT_MEDIA_RGB}:\
*.pyc=0;38;2;${FT_IGNORE_RGB}:\
*.pyd=0;38;2;${FT_IGNORE_RGB}:\
*.pyo=0;38;2;${FT_IGNORE_RGB}:\
*.qoi=0;38;2;${FT_MEDIA_RGB}:\
*.r3d=0;38;2;${FT_MEDIA_RGB}:\
*.raf=0;38;2;${FT_MEDIA_RGB}:\
*.rar=4;38;2;${FT_ARCHIVE_RGB}:\
*.raw=0;38;2;${FT_MEDIA_RGB}:\
*.rpm=4;38;2;${FT_ARCHIVE_RGB}:\
*.rst=0;38;2;${FT_DATA_RGB}:\
*.rtf=0;38;2;${SEM_ERR_RGB}:\
*.rw2=0;38;2;${FT_MEDIA_RGB}:\
*.rwl=0;38;2;${FT_MEDIA_RGB}:\
*.rwz=0;38;2;${FT_MEDIA_RGB}:\
*.sbt=0;38;2;${FT_CODE_RGB}:\
*.sql=0;38;2;${FT_CODE_RGB}:\
*.sr2=0;38;2;${FT_MEDIA_RGB}:\
*.srf=0;38;2;${FT_MEDIA_RGB}:\
*.srw=0;38;2;${FT_MEDIA_RGB}:\
*.stl=0;38;2;${FT_MEDIA_RGB}:\
*.stp=0;38;2;${FT_MEDIA_RGB}:\
*.sty=0;38;2;${FT_IGNORE_RGB}:\
*.svg=0;38;2;${FT_MEDIA_RGB}:\
*.swf=0;38;2;${FT_MEDIA_RGB}:\
*.swp=0;38;2;${FT_IGNORE_RGB}:\
*.sxi=0;38;2;${SEM_ERR_RGB}:\
*.sxw=0;38;2;${SEM_ERR_RGB}:\
*.tar=4;38;2;${FT_ARCHIVE_RGB}:\
*.tbz=4;38;2;${FT_ARCHIVE_RGB}:\
*.tcl=0;38;2;${FT_CODE_RGB}:\
*.tex=0;38;2;${FT_CODE_RGB}:\
*.tga=0;38;2;${FT_MEDIA_RGB}:\
*.tgz=4;38;2;${FT_ARCHIVE_RGB}:\
*.tif=0;38;2;${FT_MEDIA_RGB}:\
*.tml=0;38;2;${FT_DATA_RGB}:\
*.tmp=0;38;2;${FT_IGNORE_RGB}:\
*.toc=0;38;2;${FT_IGNORE_RGB}:\
*.tsx=0;38;2;${FT_CODE_RGB}:\
*.ttf=0;38;2;${FT_MEDIA_RGB}:\
*.txt=0;38;2;${FT_DATA_RGB}:\
*.typ=0;38;2;${FT_DATA_RGB}:\
*.usd=0;38;2;${FT_MEDIA_RGB}:\
*.vcd=4;38;2;${FT_ARCHIVE_RGB}:\
*.vim=0;38;2;${FT_CODE_RGB}:\
*.vob=0;38;2;${FT_MEDIA_RGB}:\
*.vsh=0;38;2;${FT_CODE_RGB}:\
*.wav=0;38;2;${FT_MEDIA_RGB}:\
*.wma=0;38;2;${FT_MEDIA_RGB}:\
*.wmv=0;38;2;${FT_MEDIA_RGB}:\
*.wrl=0;38;2;${FT_MEDIA_RGB}:\
*.x3d=0;38;2;${FT_MEDIA_RGB}:\
*.x3f=0;38;2;${FT_MEDIA_RGB}:\
*.xlr=0;38;2;${SEM_ERR_RGB}:\
*.xls=0;38;2;${SEM_ERR_RGB}:\
*.xml=0;38;2;${FT_DATA_RGB}:\
*.xmp=0;38;2;${FT_DATA_RGB}:\
*.xpm=0;38;2;${FT_MEDIA_RGB}:\
*.xvf=0;38;2;${FT_MEDIA_RGB}:\
*.yml=0;38;2;${FT_DATA_RGB}:\
*.zig=0;38;2;${FT_CODE_RGB}:\
*.zip=4;38;2;${FT_ARCHIVE_RGB}:\
*.zsh=0;38;2;${FT_CODE_RGB}:\
*.zst=4;38;2;${FT_ARCHIVE_RGB}:\
*TODO=1:\
*hgrc=0;38;2;${FT_BUILD_RGB}:\
*.avif=0;38;2;${FT_MEDIA_RGB}:\
*.bash=0;38;2;${FT_CODE_RGB}:\
*.braw=0;38;2;${FT_MEDIA_RGB}:\
*.conf=0;38;2;${FT_DATA_RGB}:\
*.dart=0;38;2;${FT_CODE_RGB}:\
*.data=0;38;2;${FT_MEDIA_RGB}:\
*.diff=0;38;2;${FT_CODE_RGB}:\
*.docx=0;38;2;${SEM_ERR_RGB}:\
*.epub=0;38;2;${SEM_ERR_RGB}:\
*.fish=0;38;2;${FT_CODE_RGB}:\
*.flac=0;38;2;${FT_MEDIA_RGB}:\
*.h264=0;38;2;${FT_MEDIA_RGB}:\
*.hack=0;38;2;${FT_CODE_RGB}:\
*.heif=0;38;2;${FT_MEDIA_RGB}:\
*.hgrc=0;38;2;${FT_BUILD_RGB}:\
*.html=0;38;2;${FT_DATA_RGB}:\
*.iges=0;38;2;${FT_MEDIA_RGB}:\
*.info=0;38;2;${FT_DATA_RGB}:\
*.java=0;38;2;${FT_CODE_RGB}:\
*.jpeg=0;38;2;${FT_MEDIA_RGB}:\
*.json=0;38;2;${FT_DATA_RGB}:\
*.less=0;38;2;${FT_CODE_RGB}:\
*.lisp=0;38;2;${FT_CODE_RGB}:\
*.lock=0;38;2;${FT_IGNORE_RGB}:\
*.make=0;38;2;${FT_BUILD_RGB}:\
*.mojo=0;38;2;${FT_CODE_RGB}:\
*.mpeg=0;38;2;${FT_MEDIA_RGB}:\
*.nims=0;38;2;${FT_CODE_RGB}:\
*.opus=0;38;2;${FT_MEDIA_RGB}:\
*.orig=0;38;2;${FT_IGNORE_RGB}:\
*.pptx=0;38;2;${SEM_ERR_RGB}:\
*.prql=0;38;2;${FT_CODE_RGB}:\
*.psd1=0;38;2;${FT_CODE_RGB}:\
*.psm1=0;38;2;${FT_CODE_RGB}:\
*.purs=0;38;2;${FT_CODE_RGB}:\
*.raku=0;38;2;${FT_CODE_RGB}:\
*.rlib=0;38;2;${FT_IGNORE_RGB}:\
*.sass=0;38;2;${FT_CODE_RGB}:\
*.scad=0;38;2;${FT_CODE_RGB}:\
*.scss=0;38;2;${FT_CODE_RGB}:\
*.step=0;38;2;${FT_MEDIA_RGB}:\
*.tbz2=4;38;2;${FT_ARCHIVE_RGB}:\
*.tiff=0;38;2;${FT_MEDIA_RGB}:\
*.toml=0;38;2;${FT_DATA_RGB}:\
*.usda=0;38;2;${FT_MEDIA_RGB}:\
*.usdc=0;38;2;${FT_MEDIA_RGB}:\
*.usdz=0;38;2;${FT_MEDIA_RGB}:\
*.webm=0;38;2;${FT_MEDIA_RGB}:\
*.webp=0;38;2;${FT_MEDIA_RGB}:\
*.woff=0;38;2;${FT_MEDIA_RGB}:\
*.xbps=4;38;2;${FT_ARCHIVE_RGB}:\
*.xlsx=0;38;2;${SEM_ERR_RGB}:\
*.yaml=0;38;2;${FT_DATA_RGB}:\
*stdin=0;38;2;${FT_IGNORE_RGB}:\
*v.mod=0;38;2;${FT_BUILD_RGB}:\
*.blend=0;38;2;${FT_MEDIA_RGB}:\
*.cabal=0;38;2;${FT_CODE_RGB}:\
*.cache=0;38;2;${FT_IGNORE_RGB}:\
*.class=0;38;2;${FT_IGNORE_RGB}:\
*.cmake=0;38;2;${FT_BUILD_RGB}:\
*.ctags=0;38;2;${FT_IGNORE_RGB}:\
*.dylib=1;38;2;${FT_EXECUTABLE_RGB}:\
*.dyn_o=0;38;2;${FT_IGNORE_RGB}:\
*.gcode=0;38;2;${FT_CODE_RGB}:\
*.ipynb=0;38;2;${FT_CODE_RGB}:\
*.mdown=0;38;2;${FT_DATA_RGB}:\
*.patch=0;38;2;${FT_CODE_RGB}:\
*.rmeta=0;38;2;${FT_IGNORE_RGB}:\
*.scala=0;38;2;${FT_CODE_RGB}:\
*.shtml=0;38;2;${FT_DATA_RGB}:\
*.swift=0;38;2;${FT_CODE_RGB}:\
*.toast=4;38;2;${FT_ARCHIVE_RGB}:\
*.woff2=0;38;2;${FT_MEDIA_RGB}:\
*.xhtml=0;38;2;${FT_DATA_RGB}:\
*Icon\r=0;38;2;${FT_IGNORE_RGB}:\
*LEGACY=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*NOTICE=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*README=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*go.mod=0;38;2;${FT_BUILD_RGB}:\
*go.sum=0;38;2;${FT_IGNORE_RGB}:\
*passwd=0;38;2;${FT_DATA_RGB}:\
*shadow=0;38;2;${FT_DATA_RGB}:\
*stderr=0;38;2;${FT_IGNORE_RGB}:\
*stdout=0;38;2;${FT_IGNORE_RGB}:\
*.bashrc=0;38;2;${FT_CODE_RGB}:\
*.config=0;38;2;${FT_DATA_RGB}:\
*.dyn_hi=0;38;2;${FT_IGNORE_RGB}:\
*.flake8=0;38;2;${FT_BUILD_RGB}:\
*.gradle=0;38;2;${FT_CODE_RGB}:\
*.groovy=0;38;2;${FT_CODE_RGB}:\
*.ignore=0;38;2;${FT_BUILD_RGB}:\
*.matlab=0;38;2;${FT_CODE_RGB}:\
*.nimble=0;38;2;${FT_CODE_RGB}:\
*COPYING=0;38;2;${OVERLAY2_RGB}:\
*INSTALL=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*LICENCE=0;38;2;${OVERLAY2_RGB}:\
*LICENSE=0;38;2;${OVERLAY2_RGB}:\
*TODO.md=1:\
*VERSION=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*.alembic=0;38;2;${FT_MEDIA_RGB}:\
*.desktop=0;38;2;${FT_DATA_RGB}:\
*.gemspec=0;38;2;${FT_BUILD_RGB}:\
*.mailmap=0;38;2;${FT_BUILD_RGB}:\
*Doxyfile=0;38;2;${FT_BUILD_RGB}:\
*Makefile=0;38;2;${FT_BUILD_RGB}:\
*TODO.txt=1:\
*setup.py=0;38;2;${FT_BUILD_RGB}:\
*.DS_Store=0;38;2;${FT_IGNORE_RGB}:\
*.cmake.in=0;38;2;${FT_BUILD_RGB}:\
*.fdignore=0;38;2;${FT_BUILD_RGB}:\
*.kdevelop=0;38;2;${FT_BUILD_RGB}:\
*.markdown=0;38;2;${FT_DATA_RGB}:\
*.rgignore=0;38;2;${FT_BUILD_RGB}:\
*.tfignore=0;38;2;${FT_BUILD_RGB}:\
*CHANGELOG=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*COPYRIGHT=0;38;2;${OVERLAY2_RGB}:\
*README.md=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*bun.lockb=0;38;2;${FT_IGNORE_RGB}:\
*configure=0;38;2;${FT_BUILD_RGB}:\
*.gitconfig=0;38;2;${FT_BUILD_RGB}:\
*.gitignore=0;38;2;${FT_BUILD_RGB}:\
*.localized=0;38;2;${FT_IGNORE_RGB}:\
*.scons_opt=0;38;2;${FT_IGNORE_RGB}:\
*.timestamp=0;38;2;${FT_IGNORE_RGB}:\
*CODEOWNERS=0;38;2;${FT_BUILD_RGB}:\
*Dockerfile=0;38;2;${FT_DATA_RGB}:\
*INSTALL.md=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*README.txt=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*SConscript=0;38;2;${FT_BUILD_RGB}:\
*SConstruct=0;38;2;${FT_BUILD_RGB}:\
*.cirrus.yml=0;38;2;${FT_CODE_RGB}:\
*.gitmodules=0;38;2;${FT_BUILD_RGB}:\
*.synctex.gz=0;38;2;${FT_IGNORE_RGB}:\
*.travis.yml=0;38;2;${FT_CODE_RGB}:\
*INSTALL.txt=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*LICENSE-MIT=0;38;2;${OVERLAY2_RGB}:\
*MANIFEST.in=0;38;2;${FT_BUILD_RGB}:\
*Makefile.am=0;38;2;${FT_BUILD_RGB}:\
*Makefile.in=0;38;2;${FT_IGNORE_RGB}:\
*.applescript=0;38;2;${FT_CODE_RGB}:\
*.fdb_latexmk=0;38;2;${FT_IGNORE_RGB}:\
*.webmanifest=0;38;2;${FT_DATA_RGB}:\
*CHANGELOG.md=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*CONTRIBUTING=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*CONTRIBUTORS=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*appveyor.yml=0;38;2;${FT_CODE_RGB}:\
*configure.ac=0;38;2;${FT_BUILD_RGB}:\
*.bash_profile=0;38;2;${FT_CODE_RGB}:\
*.clang-format=0;38;2;${FT_BUILD_RGB}:\
*.editorconfig=0;38;2;${FT_BUILD_RGB}:\
*CHANGELOG.txt=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*.gitattributes=0;38;2;${FT_BUILD_RGB}:\
*.gitlab-ci.yml=0;38;2;${FT_CODE_RGB}:\
*CMakeCache.txt=0;38;2;${FT_IGNORE_RGB}:\
*CMakeLists.txt=0;38;2;${FT_BUILD_RGB}:\
*LICENSE-APACHE=0;38;2;${OVERLAY2_RGB}:\
*pyproject.toml=0;38;2;${FT_BUILD_RGB}:\
*CODE_OF_CONDUCT=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*CONTRIBUTING.md=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*CONTRIBUTORS.md=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*.sconsign.dblite=0;38;2;${FT_IGNORE_RGB}:\
*CONTRIBUTING.txt=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*CONTRIBUTORS.txt=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*requirements.txt=0;38;2;${FT_BUILD_RGB}:\
*package-lock.json=0;38;2;${FT_IGNORE_RGB}:\
*CODE_OF_CONDUCT.md=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*.CFUserTextEncoding=0;38;2;${FT_IGNORE_RGB}:\
*CODE_OF_CONDUCT.txt=0;38;2;${BASE_RGB};48;2;${SEM_WARN_RGB}:\
*azure-pipelines.yml=0;38;2;${SEM_OK_RGB}"

export SYSTEMD_COLORS=1

# ZSH Autosuggestion highlight style (uses hex colors)
typeset -g ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='bg=${SURFACE0},fg=${TEXT},bold'
