# ${THEME_NAME} theme for youtube-tui
borders: Rounded
colors:
  text: '${TEXT}'
  text_special: '${ACCENT}'
  text_secondary: '${SUBTEXT0}'
  text_error: '${SEM_ERR}'
  outline: '${SURFACE2}'
  outline_selected: '${ACCENT}'
  outline_hover: '${ACCENT_SECONDARY}'
  outline_secondary: '${SEM_INFO}'
  message_outline: '${SEM_WARN}'
  message_error_outline: '${SEM_ERR}'
  message_success_outline: '${SEM_OK}'
  command_capture: '${SEM_OK}'
  item_info:
    tag: '${SURFACE2}'
    title: '${SEM_INFO}'
    description: '${SUBTEXT0}'
    author: '${SEM_OK}'
    viewcount: '${SEM_WARN}'
    length: '${SEM_LINK}'
    published: '${ACCENT}'
    video_count: '${SEM_LINK}'
    sub_count: '${SEM_OK}'
    likes: '${SEM_OK}'
    genre: '${ACCENT}'
    page_turner: '${SURFACE2}'
