/* vim:ft=css */

/* ══════════════════════════════════════════════════════════════════════════════
 * Font Configuration
 * ══════════════════════════════════════════════════════════════════════════════ */

* {
    font: "FiraCode Nerd Font 11";
}
